{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% bootstrap_messages %}
<div class="d-flex justify-content-center"> 
    <div class="col-md-5">
        <form action="{% url 'login' %}" method="post" class="container justify-content-md-center">
        {% csrf_token %}

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="OK" %}

        </form>
    </div>
</div>


{# Assumes you setup the password_reset view in your URLconf #}
{# <p><a href="{% url 'home' %}">Lost password?</a></p> #}

{% endblock %}