{% extends "base.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Task manager{% endblock %}

{% block content %}

<div class="container">
  <h1 class="text-center">Хотят обменять</h1>
  <div class="row row-cols-md-3">
    {% for item in items %}
      <div class="card">
        <a href="#" class="text-decoration-none">
          <img class="img-fluid img-center" style="width: auto; height: 300px; margin-left: auto; margin-right: auto; display: block;" src="{{ item.photos.first.image.url }}" style="card-img-top" alt="предмет">
          <div class="card-body text-center">
            <h5 class="card-title">{{ item }}</h5>
            <p class="card-text text-muted">{{ item.category }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<nav>
  <ul class="pagination justify-content-center mt-3">
    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
    <li class="page-item"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">4</a></li>
    <li class="page-item"><a href="#" class="page-link">5</a></li>
    <li class="page-item"><a href="#" class="page-link">Next</a></li>
  </ul>
</nav>

{% endblock %}