{% extends "base.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Хотят обменять{% endblock %}

{% block content %}

{% block usercontent %}{% endblock %}

<div class="container">
  <div class="dropdown text-center outline-primary mb-2">
    <form method="post">
      {% csrf_token %}
      <label class="visually-hidden">Категории</label>
      <select onChange="form.submit()" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" name="categories">
        {% for category in form.category %}
          {{category}}
        {% endfor %}
      </select>
    </form>
  </div>
  <div class="row row-cols-3">
    {% for item in items %}
      <div class="col col-6 col-md-4">
        <div class="card p-3 m-2">
          <a href="{% url 'show_item' item.id %}" class="text-decoration-none">
            <img class="img-fluid img-center" style="width: auto; height: 200px; margin-left: auto; margin-right: auto; display: block;" src="{{ item.photos.first.image.url }}" alt="предмет">
            <div class="card-body text-center">
              <h5 class="card-title">{{ item }}</h5>
              <p class="card-text text-muted">{{ item.category }}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% if items|length != 0 %}
  <nav>
    <ul class="pagination justify-content-center mt-3">
      {% if items.has_previous %}
        <li class="page-item">
          <a href="?page={{ items.previous_page_number }}" class="page-link">Предыдущая</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">Предыдущая</a>
        </li>
      {% endif %}

      {% for page in items.paginator.page_range %}
        {% if page == items.number %}
          <li class="page-item active" aria-current="page">
            <a href="?page={{ items.number }}" class="page-link">{{ items.number }}
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a href="?page={{ page }}" class="page-link">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if items.has_next %}
        <li class="page-item">
          <a href="?page={{ items.next_page_number }}" class="page-link">Следующая</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link">Следующая</a>
        </li>
      {% endif %}
      
    </ul>
  </nav>
{% else %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto text-center">
        <p class="fs-5">Подходящих вещей не нашлось</p>
      </div>
    </div>
  </div>
{% endif %}    

{% endblock %}