{% extends "base.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Stuff exchange{% endblock %}

{% block content %}

<div class="container">
  {% block usercontent %}{% endblock %}
  <div class="dropdown text-center outline-primary mb-2">
    <form method="post">
      {% csrf_token %}
      <label class="visually-hidden">Категории</label>
      <select onChange="form.submit()" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" name="categories">
        {% for category in form.category %}
          {{category}}
        {% endfor %}
      </select>
    </form>
  </div>
  <div class="row row-cols-3">
    {% for item in items %}
      <div class="col">
        <div class="card p-3 m-2">
          <a href="{% url 'show_item' item.id %}" class="text-decoration-none">
            <img class="img-fluid img-center" style="width: auto; height: 200px; margin-left: auto; margin-right: auto; display: block;" src="{{ item.photos.first.image.url }}" alt="предмет">
            <div class="card-body text-center">
              <h5 class="card-title">{{ item }}</h5>
              <p class="card-text text-muted">{{ item.category }}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<nav>
  <ul class="pagination justify-content-center mt-3">
    <li class="page-item"><a href="#" class="page-link">Previous</a></li>
    <li class="page-item"><a href="#" class="page-link">1</a></li>
    <li class="page-item"><a href="#" class="page-link">2</a></li>
    <li class="page-item"><a href="#" class="page-link">3</a></li>
    <li class="page-item"><a href="#" class="page-link">4</a></li>
    <li class="page-item"><a href="#" class="page-link">5</a></li>
    <li class="page-item"><a href="#" class="page-link">Next</a></li>
  </ul>
</nav>

{% endblock %}