{% extends "items.html" %}

{% load static %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{% if site_user.id == user.id %}Хочу обменять{% else %}Хочет обменять{% endif %}{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js">
{% endblock %}

{% block usercontent %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto text-center">
        {% if site_user.id == user.id %}
          <p class="fs-5">Мои вещи</p>
        {% else %}
          <p class="fs-5" 
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            data-bs-original-title="{{ wish_items_hover }}">Вещи пользователя {{ site_user.username }}
                {% if site_user.first_name %} ({{ site_user.first_name }} {{ site_user.last_name }}){% endif %}
          </p>
          {% if site_user.email %}
            <p class="fs-6 text-muted">{{ 'e-mail: '|add:site_user.email }}</p>
          {% endif %}
          <p class="fs-6 text-muted">{{' '|add:site_user.contacts}}</p>
        {% endif %}
    </div>
  </div>
</div>

  {% if site_user.id == user.id %}
        <div class="container mb-3">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a href="{% url 'add-item'  %}">
                    {% bootstrap_button button_type="button" content="Добавить вещь" %}
                </a>
            </div>
        </div>
    </div>
  {% endif %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}